#home {
	background-image: url(https://cdn.pixabay.com/photo/2022/10/20/11/26/landscape-7534634_1280.jpg);
	height: 100vh;

}

 #home img{
 	width: 15vw;
 	height: 15vw;
 	border-radius: 40vw;
 	margin-left: 40vw;
 	margin-top: 20vh;
 }
#about-us {
	background-image: url(https://kaboompics.com/cache/d/1/7/2/5/d17251e8f451a827bb0e732c64120db6a797233c.jpeg);
	text-align: center;
	padding-left: 10vw;
	padding-right: 10vw;
	min-height: 60vh;
	padding-top: 60px;
	padding-bottom: 50px;
} 

#gallery {
	background-color: lightsteelblue;
	text-align: center;
	padding-top: 30vh;
	
	padding-bottom: 60px;
	min-height: 60vh;
	

}
#contact {
	background-color: lightskyblue;
	padding-top: 50px;
	padding-bottom: 150px;
}
#gallery img{
	height: 35vh;
}
* {
	font-family: sans-serif;
}